<a href="https://colab.research.google.com/github/shiva653/python/blob/master/3_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# markdown
## markdown
### insert a image
![text](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
### insert a site
[site](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
###**bold and single*italic text
### for craeating ordered list
1. abc
2. efg
    1. a
    2. b

###** bold and single* italic text
**gitam**<br>
*gitam*

In [0]:
name = "gitam"
print("university:"+ name)

university:gitam

In [0]:
name = input("enter a name")
age = int(input("enter age"))
print("my name is:",name,"and my age is:",age)

enter a nameshiva
enter age16
my name is: shiva and my age is: 16

## take two inputs and do the folllowing arithmatic operations

In [0]:
a = int(input("enter first integer"))
b = int(input("enter second integer"))
c = a+b
d = a-b
e = a*b
f = a/b
print("addition:",c,"sub",d,"multipication",e,"divison",f)

enter first integer10
enter second integer20
addition: 30 sub -10 multipication 200 divison 0.5

### fundamental data types:
1. int
2. float
3. complex
4. boolean
5. string

In [0]:
a = 10
b = 12.05
c = 5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c = complex(2,3)
print(c)

(2+3j)

In [0]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

## boolean

In [0]:
a = 10
b = 20
a>b

False

In [0]:
s1 = "abc"
s2 = "xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1 = "100"
print(type(s1))
a  = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [0]:
a1 = 1234
print(len(str(a1)))

4

# operators
1. arthametic opertaors --->+,-,*,%,//,**
2. logical operators ---> and,or,not
3. relational operators ---> >,<,>=,<=,==,!=
4. membership operators ---> in,not in

In [0]:
n1 = 12
n2 = 21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
12
0.5714285714285714
0
46005119909369701466112

# relational operators

In [0]:
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

# logiacal operators

In [0]:
n1 =20
print(n1>=10 and n1<=n2)
print(n1>=10 or n1<=n2)
print(not n1)

True
True
False

# relationl operators

In [0]:
a = 10
b = 20
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

# membership operators
## in ---> true if value is found in sequence
## not in ---> true if value not found insequence

In [0]:
f = [1,2,3,4]
print(1 in f)
print(5 in f)
print (6 not in f)

True
False
True

## conditional operators
1. if
2. else
3. elif
## syntax:
#### if conditon:
> statements<br>
#### else:
> statements

In [0]:
n = int(input("enter a number"))
if n%2 ==0:
  print("even")
else:
  print("odd")

enter a number6
even

### to check given number is multiple of 3 and 5

In [0]:
n = int(input("enter a number"))
if n%3 ==0 and n%5 ==0:
  print("multiple of 3 and 5")
else:
  print("given number isnt multiple of 3 and 5")

enter a number9
given number isnt multiple of 3 and 5

In [0]:
n =int(input("enter a number"))
if n>0:
  print("positive")
elif n<0:
    print("negitive")
else :
  print("equal to zero")

enter a number-1
negitive

### Check the input year is a leap year

In [0]:
year = int(input("enter the year"))
if year % 400 == 0 or (year % 100 != 0 and year %4 == 0 ):
  print("leap year")
else:
  print("not a leap year")

enter the year2096
leap year

# loops
## 1.while loop
## 2.for loop

In [0]:
n = int(input("enter a number"))
i = 1
while i<= n:
  print(i,end=" ")
  i = i+1

### output should be sum of evn=en no's from 1 to n

In [0]:
n = int(input("enter a number"))
i = 1
S = 1
while i <= n:
  if i % 2 == 0:
    s = s+i
    i = i+1
print(s)

enter a number10